
/*
Dark background color (hero and footer)
  #1f2937
Hero Main Text:
  48px extra-bold #f9faf8
Hero secondary text, Header Link Text
  18px #e5e7eb
Header logo text
  24px #f9faf8
Button color, call to action background color
  #3882f6
Information header text
  36px extra-bold #1f2937
Quote section background color
  #e5e7eb
Quote text
  36px light italic #1f2937
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

:root {
  --secondary-text: 18px "Roboto", sans-serif;
  --secondary-text-color: #e5e7eb;
  --logo-color: #f9faf8;
  --main-color: #1f2937;
  --secondary-color: #3882f6;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* || UTILITIES */
.btn-1,
.btn-2 {
  padding: 8px 24px;
  border: none;
  border-radius: 6px;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
}
.btn-2 {
  border: 2px solid white;
}

/* || HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  padding: 16px 200px;
}

.header-links {
  display: flex;
  gap: 20px;
}

.header-links a {
  color: var(--secondary-text-color);
  font: var(--secondary-text);
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--logo-color);
}

/* || HERO */
.hero {
  padding: 150px 200px;
  background-color: var(--main-color);
  display: flex;
  gap: 32px;
}

.hero > * {
  flex: 1;
}

.hero-right {
  display: flex;
  justify-content: end;
}

.hero-text {
  font-size: 48px;
  font-weight: 900;
  color: var(--logo-color);
  margin: 0;
}

.hero-secondary-text {
  font-size: 18px;
  color: var(--secondary-text-color);
}

.hero-img {
  width: 500px;
  height: 250px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* || INFORMATION SECTION */
.information {
  padding: 32px 0px 52px 0px;
}

.information-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 52px;
  text-align: center;
}

.info-item-list {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  text-align: center;
}

.info-item > div {
  border: 4px solid var(--secondary-color);
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.info-item > p {
  color: gray;
}

/* || TESTIMONIAL SECTION */
.testimonial {
  background-color: var(--secondary-text-color);
  padding: 120px 400px;
}

.testimonial > p {
  font-size: 36px;
  font-style: italic;
  text-align: left;
  color: #1f2937;

}

.testimonial > div {
  text-align: right;
  font-weight: 700;
  font-size: 20px;
}


/* || CTA SECTION */
.cta {
  padding: 150px 200px;
}

.cta-box {
  background-color: var(--secondary-color);
  padding: 54px 150px;
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
}

.cta-left > * {
  color: white;
  margin: 0;
}

.cta-left > h3 {
  font-size: 20px;
  margin-bottom: 6px;
}

/* || FOOTER */
.footer {
  text-align: center;
  background-color: var(--main-color);
  color: var(--secondary-text-color);
  padding: 32px 0px;
}